@model OnlineBookLibrary.Models.Genre

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container" style="padding-top: 100px;  min-height: 80vh">
    <div class="row">
        <div class="col-md-12">
            <h1>Delete Genre</h1>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.GenreName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.GenreName)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="GenreId" />
                <input type="submit" value="Delete" class="btn btn-default" /> |
                <a asp-action="Index">Back to List</a>
            </form>
        </div>
    </div>
</div>