
@{
    ViewBag.Title = "Home";
    ViewBag.button = "Sign in";
    Layout = "~/Views/shared/LayoutUser.cshtml";
    ViewBag.active = 1;

    //Truyền một list
    ViewBag.DanhSachSinhVien = new List<String> { "Hoàng Lương", "Lường Hoang" };

}

<main>
    
</main>