@model IEnumerable<DigitalApp.Models.LoaiBaiViet>

@{
    ViewBag.Title = "DanhSachLoaiBaiViet";
    ViewBag.Active = 8;
    Layout = "~/Views/shared/LayoutUser.cshtml";
}
<div class="container" style="margin-top: 130px; min-height: 80vh">
    <div class="col-md-12">
        <h4>
            Danh Sách Loại Bài Viết
            <a href="~/LoaiBaiViet/ThemMoi" style="float: right;">Thêm Mới</a>
        </h4>
        <table class="table">
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Tên
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenLoai)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "CapNhat", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Xoa", new { id = item.ID })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
